<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      h1 {
        color: #712291;
        font-family: "Poppins", "sans-serif";
      }
      h2,
      h3 {
        color: #831866;
        font-family: "Roboto", "sans-serif";
      }
      a {
        color: #067c08;
        font-family: "Poppins", "sans-serif";
        font-weight: bold;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Olá, {{user}}!</h1>
    <h2>Estamos quase lá!</h2>
    <h3>
      Se foi você que tentou criar uma conta na E-commerce Loomi, click no link
      abaixo para confirmação do seu cadastro:
    </h3>
    <a href="{{link}}">Clique aqui!</a>
  </body>
</html>
